.navbar {
  background-color: rgb(29, 28, 28);
  color: white;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4vmax;
}

.navbar a {
  color: rgb(180, 180, 180);
  font-size: 0.9vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  margin: 1vmax;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.navbar span {
  color: rgba(180, 180, 180, 0.644);
  font-size: 1vmax;
  font-weight: 100;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4vmax;
}

.navbar-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}
